apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - configmap.yaml
  - secrets.yaml
  - ingress.yaml
  - hpa.yaml
  - pvc.yaml

commonLabels:
  app: knowledge-repo-server
  environment: production

namespace: default
